<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login</title>
  <link rel="stylesheet" href="/loginPage/index.css">
</head>
<body>
  <div class="wrapper">
    <div class="title-text">
      <div class="title">Login</div>
    </div>
    <div class="form-container">
      <div class="form-inner">
        <form action="/login" method="POST"> <!-- Ensure method="POST" and action="/login" -->
          
          <div class="field">
            <input type="email" name="email" placeholder="Email Address" required> <!-- Add name attribute -->
          </div>
          <div class="field">
            <input type="password" name="password" placeholder="Password" required> <!-- Add name attribute -->
          </div>
          <div class="pass-link"><a href="#">Forgot password?</a></div>
          <div class="field btn">
            <input type="submit" value="Login">
          </div>
          <div class="signup-link">Not a member? <a href="/signup">Signup now</a></div>
        </form>
      </div>
    </div>
  </div>
</body>
</html>